body, html{
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  background-image: url('./components/img/soccer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

